# data files
research/data/*.npy
research/data/*.fits
research/models/*.pt
research/models/*.joblib
app/backend/models/*.pt
app/backend/models/*.joblib
# env
.env
.env.local
__pycache__/
*.pyc
.ipynb_checkpoints/